/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

#acai-roxo {
	color: #d027aa;
}

body {
	border-style: solid;
	border-width: 1px;
	height: 768px;
	margin: 0% 25%;
	width: 800px;
}

#bolhas {
	bottom: 34%;
	left: 28%;
	position: fixed;
}

#cabecalho {
	height: 105px;
}

#cardapio {
	border-style: solid;
	border-width: 1px;
	border-color: #aac0ae;
	height: 547px;
	margin-bottom: 119px;
	padding-left: 20px;
	padding-right: 18px;
	width: 607px;
}

#fundo-colorido {
	background-clip: padding-box;
	background-image: linear-gradient(180deg, #f6f1b2, #4599b2 50%);
	height: 768px;
	margin-top: -30px;
	width: 800px;
}

#melhor-acai {
	color: #333;
	font-family: "Trebuchet MS";
	font-size: 24px;
	margin-left: 205px;
	margin-top: -35px;
}

#peixe {
	bottom: 22%;
	left: 21.75%;
	position: fixed;
}

#recipiente {
	margin-left: 154px;
}

#rodape {
	bottom: 230px;
	right: 235px;
	position: fixed;
}

#secoes-cardapio {
	color: #333;
	font-family: "Verdana";
	font-size: 18px;
	font-style: bold;
}

#siri {
	left: 24%;
	position: fixed;
	top: 7px;
}

#tabela {
	border: 0px;
	color: #333;
	font-family: "Verdana";
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: -15px;
}

#tabela-c1 {
	height: 30px; 
	width: 555px;
}

#tabela-c2 {
	text-align: right;
	height: 30px; 
	width: 52px;
}

#ticket {
	left: 100px;
	position: absolute;
	top: 50%;
}

#ticket:hover {
	
}

#titulo-cardapio {
	-webkit-transform:rotate(270deg);
	
	color: #333;
	font-family: "Verdana";
	font-size: 48px;
	font-style: bold;
	margin-left: -200px;
	margin-top: 180px;
	position: absolute;
}

#titulo-lanchonete {
	color: #e90c0c;
	font-family: "Ravie";
	font-size: 36px;
	margin-left: 30px;
	padding-top: 30px;
}