/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

#acai-roxo {
	color: #d027aa;
}

body {
	border-style: solid;
	border-width: 1px;
	margin: 0% 25%;
	width: 800px;
}

#bolhas {
	
}

#cardapio {
	border-style: solid;
	border-width: 1px;
	border-color: #aac0ae;
	height: 547px;
	margin-bottom: 119px;
	padding-left: 20px;
	padding-right: 18px;
	width: 607px;
}

#titulo-lanchonete {
	color: #e90c0c;
	font-family: "Ravie";
	font-size: 36px;
	margin-left: 30px;
}

#melhor-acai {
	color: #333;
	font-family: "Trebuchet MS";
	font-size: 24px;
	margin-left: 205px;
}

#peixe {
	bottom: 0px;
	left: -44px;
	position: relative;
}

#recipiente {
	margin-left: 154px;
}

#secoes-cardapio {
	color: #333;
	font-family: "Verdana";
	font-size: 18px;
	font-style: bold;
}

#siri {
	display: inline;
	left: -10px;
	position: relative;
	top: 7px;
}

#tabela {
	border: 0px;
}

#tabela-c1 {
	width: 555px;
}

#tabela-c2 {
	text-align: right;
	width: 52px;
}

#titulo-cardapio {
	-webkit-transform:rotate(270deg);
	
	color: #333;
	font-family: "Verdana";
	font-size: 48px;
	font-style: bold;
	margin-left: -200px;
	margin-top: 200px;
	position: absolute;
}